.gasolina{
    color: brown;
}
.etanol{
    color:rgb(148, 103, 7);
}
.diesel{
    color:cadetblue;
}

h1{
    text-align: center;
}

.content__form, .content__resultado{
    margin-left: 2em;
    margin: 2em ;
}

input, select{
    margin-top: 4px;
    padding: 8px;
    border-radius: 11px;
    border: 1px solid grey;
  
}

select{
    background-color: white;
}



button{
    padding: 10px;
    border-radius: 12px;
    border: 1px solid transparent;
    background-color:green;
    color:white;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
}

button:hover{
    border: 1px solid green;
    background-color: white;
    color:black;
}